In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv("./data/movies.csv")
df = df.sample(frac=1)
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
96063,Saturé Prairie,Fantastique,2018,118,6.5,D. Monteiro,2.0,1.6,MY,2018-10-20
39972,Infini Abîme du Serment,Action,2004,124,6.9,M. Zhou,6.6,11.5,NO,2004-05-16
82294,Fiévreux Statue de l’Infini 5,Science-Fiction,1997,94,8.6,O. Garcia,21.5,38.3,SG,1997-06-07
62241,Rocailleux Royaume,Romance,2014,136,7.9,A. Williams,54.2,205.2,FI,2014-07-27
16841,Éclatant Carrefour des Océans,Science-Fiction,1997,77,7.7,Y. Xu,32.8,46.4,CA,1997-12-16
...,...,...,...,...,...,...,...,...,...,...
56661,Erratique Cimetière,Romance,1988,105,8.8,M. Diop,53.5,152.8,NZ,1988-01-11
57470,Sidéral Fort du Néant Intérieur 3,Animation,1986,148,7.7,J. Ncube,65.8,12.9,NG,1986-09-20
4203,Saturé Désir de la Brume,Action,1997,153,7.0,E. Bakshi,39.4,75.4,IE,1997-11-13
98820,Ébouriffé Récif de l’Horizon,Thriller,1983,143,5.9,F. Sokolov,16.3,25.4,IL,1983-04-07
41210,Saturé Mémoire des Ombres,Animation,2021,94,6.3,C. Mehra,NaN,17.2,TR,2021-08-15

# Visualisation

In [3]:
# 1 - 3 Premières lignes
df.head(3)

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
96063,Saturé Prairie,Fantastique,2018,118,6.5,D. Monteiro,2.0,1.6,MY,2018-10-20
39972,Infini Abîme du Serment,Action,2004,124,6.9,M. Zhou,6.6,11.5,NO,2004-05-16
82294,Fiévreux Statue de l’Infini 5,Science-Fiction,1997,94,8.6,O. Garcia,21.5,38.3,SG,1997-06-07

In [4]:
# 1 - 2 Dernières lignes
df.tail(2)

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
98820,Ébouriffé Récif de l’Horizon,Thriller,1983,143,5.9,F. Sokolov,16.3,25.4,IL,1983-04-07
41210,Saturé Mémoire des Ombres,Animation,2021,94,6.3,C. Mehra,NaN,17.2,TR,2021-08-15

In [5]:
# 2 - Afficher les dimensions du DataFrame
df.shape

(100000, 10)

In [6]:
# 3 - Afficher les statistiques descriptives du DataFrame
df.describe()

               Année      Durée_min          Note     Budget_M€   BoxOffice_M€
count  100000.000000  100000.000000  95036.000000  95012.000000  100000.000000
mean     2002.520300     110.146040      7.000437     30.794534      61.718795
std        13.250122      19.615881      0.999475     18.599473      48.417601
min      1980.000000      70.000000      2.500000      2.000000     -92.500000
25%      1991.000000      97.000000      6.300000     16.700000      24.675000
50%      2003.000000     110.000000      7.000000     30.000000      52.400000
75%      2014.000000     124.000000      7.700000     43.600000      88.100000
max      2025.000000     199.000000      9.800000    116.300000     407.600000

# Sélection et filtrage

In [7]:
# 1 - Sélectionner uniquement la colonne "Titre"
df["Titre"]

96063                       Saturé Prairie
39972              Infini Abîme du Serment
82294        Fiévreux Statue de l’Infini 5
62241                   Rocailleux Royaume
16841        Éclatant Carrefour des Océans
                       ...
56661                  Erratique Cimetière
57470    Sidéral Fort du Néant Intérieur 3
4203              Saturé Désir de la Brume
98820         Ébouriffé Récif de l’Horizon
41210            Saturé Mémoire des Ombres
Name: Titre, Length: 100000, dtype: object

In [8]:
# 2 - Sélectionner les colonnes Titre, Genre et Note.
df[["Titre", "Genre", "Note"]]

                                   Titre            Genre  Note
96063                     Saturé Prairie      Fantastique   6.5
39972            Infini Abîme du Serment           Action   6.9
82294      Fiévreux Statue de l’Infini 5  Science-Fiction   8.6
62241                 Rocailleux Royaume          Romance   7.9
16841      Éclatant Carrefour des Océans  Science-Fiction   7.7
...                                  ...              ...   ...
56661                Erratique Cimetière          Romance   8.8
57470  Sidéral Fort du Néant Intérieur 3        Animation   7.7
4203            Saturé Désir de la Brume           Action   7.0
98820       Ébouriffé Récif de l’Horizon         Thriller   5.9
41210          Saturé Mémoire des Ombres        Animation   6.3

[100000 rows x 3 columns]

In [9]:
# 3 - Sélectionner tous les films dont le genre est “Drame”.
df[df["Genre"] == "Drame"]

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
50679,Saturé Constellation 5,Drame,2019,132,6.5,V. Agarwal,13.2,31.3,AE,2019-06-28
91425,Paisible Capitale 4,Drame,1989,146,7.5,T. Lewis,46.0,160.4,SG,1989-04-24
32905,Éclatant Orangerie de Braise,Drame,2013,114,8.6,L. Shah,16.6,44.9,SE,2013-10-06
34167,Captif Soupir,Drame,1989,111,8.3,D. Volkov,46.8,138.0,BD,1989-06-25
2948,Ébouriffé Banlieue du Passé,Drame,2005,108,7.0,Z. Dhawan,50.3,127.0,JP,2005-03-07
...,...,...,...,...,...,...,...,...,...,...
92047,Obscur Braise,Drame,2024,134,6.5,A. Gandhi,30.2,70.1,NZ,2024-08-12
23505,Électrique Fonderie des Secrets,Drame,2021,97,6.3,G. Taylor,29.6,94.3,BD,2021-07-17
47537,Rêveur Portail de l’Horizon,Drame,1996,78,6.9,F. Moore,46.6,135.0,KE,1996-05-23
7112,Ébouriffé Mosquée,Drame,2006,91,7.5,G. Taylor,49.3,135.5,KR,2006-02-08
86415,Invisible Phare du Rêve,Drame,2013,123,5.9,J. Nelson,34.1,92.3,AU,2013-04-29

In [10]:
# 4 - Sélectionnez tous les films dont la note est supérieure à 7.5.
df[df["Note"] > 7.5]

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
82294,Fiévreux Statue de l’Infini 5,Science-Fiction,1997,94,8.6,O. Garcia,21.5,38.3,SG,1997-06-07
62241,Rocailleux Royaume,Romance,2014,136,7.9,A. Williams,54.2,205.2,FI,2014-07-27
16841,Éclatant Carrefour des Océans,Science-Fiction,1997,77,7.7,Y. Xu,32.8,46.4,CA,1997-12-16
82080,Sidéral Bosquet des Profondeurs 2,Romance,1981,111,8.3,G. Lebedev,2.0,3.6,JP,1981-07-17
84030,Fantomatique Grange,Action,1980,126,7.9,T. Chopra,47.3,104.4,KR,1980-11-28
...,...,...,...,...,...,...,...,...,...,...
59161,Ambré Babel,Science-Fiction,1980,106,8.0,C. Ndlovu,39.5,7.3,IT,1980-09-05
96101,Féroce Hangar de Verre,Animation,2016,129,7.6,D. Volkov,28.0,39.8,NL,2016-02-21
46293,Serein Univers du Désert 3,Historique,1996,70,8.2,S. Khanna,29.7,28.0,MA,1996-06-30
56661,Erratique Cimetière,Romance,1988,105,8.8,M. Diop,53.5,152.8,NZ,1988-01-11
57470,Sidéral Fort du Néant Intérieur 3,Animation,1986,148,7.7,J. Ncube,65.8,12.9,NG,1986-09-20

In [11]:
# 5 - Sélectionnez tous les films dont le titre contient le mot “Soleil”.
df[df["Titre"].str.contains("Soleil")]

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
72546,Saturé Prairie du Soleil,Horreur,2020,126,6.9,H. Chukwu,57.9,116.2,VN,2020-09-24
11998,Saturé Légende du Soleil,Drame,2011,104,6.2,R. Rocha,30.1,41.4,MA,2011-11-08
14005,Obscur Constellation du Soleil,Romance,1989,100,7.9,B. Wilson,45.6,124.2,ZA,1989-11-28
99712,Éclatant Soleil du Temps 2,Horreur,1998,95,7.4,E. Kuznetsov,NaN,68.6,PH,1998-10-03
95269,Ébouriffé Soleil d'Azur,Science-Fiction,2015,94,6.7,X. Wu,19.7,46.2,MA,2015-07-20
...,...,...,...,...,...,...,...,...,...,...
81179,Troublant Aqueduc du Soleil,Animation,2020,110,6.8,R. Rocha,13.6,28.3,PE,2020-03-31
53923,Saturé Parc du Soleil,Drame,1993,110,6.0,E. Mori,19.8,36.4,CN,1993-08-02
82411,Saturé Soleil des Étoiles,Drame,1990,125,5.9,D. Souza,52.5,88.1,TR,1990-02-22
47589,Éclatant Dôme du Soleil 2,Action,2012,90,6.6,I. Thomas,2.0,4.8,PE,2012-10-15
9094,Saturé Palais du Soleil,Science-Fiction,2005,110,NaN,B. Ribeiro,54.8,111.8,DK,2005-02-02

In [12]:
# 6 - Sélectionner les films dont le réalisateur est “C. Morel” et le BoxOffice supérieur à 100 M€.
df[(df["Réalisateur"] == "C. Morel") & (df["BoxOffice_M€"] > 100)]

Empty DataFrame
Columns: [Titre, Genre, Année, Durée_min, Note, Réalisateur, Budget_M€, BoxOffice_M€, Pays, DateSortie]
Index: []

In [13]:
# 7 - Sélectionner les films qui ont pour ID 101, 205 ou 305 c’est-à-dire les étiquettes d’index du DataFrame) et afficher uniquement les colonnes Titre et Genre.
df.loc[ [101, 205, 305], ["Titre", "Genre"] ]

                                Titre      Genre
101    Doux Clapier de l’Eau Dormante  Animation
205  Suspendu Porte de la Lune Rousse    Horreur
305                 Éclatant Cosmos 2  Animation

In [14]:
# 8 - Sélectionner les films en position 101, 205 ou 305 et afficher uniquement les colonnes Titre et Genre.
df.iloc[ [101, 205, 305] ][ ["Titre", "Genre"] ]

                                    Titre       Genre
35814        Grandiose Caverne du Néant 4  Historique
52883  Silencieux Chimère des Profondeurs       Drame
79531                        Éclatant Feu    Thriller

In [15]:
# 9 -
df.loc[10:15]
# On affiche tous les films entre les index (labels) 10 et 15 inclus

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie
10,Saturé Cascade du Vide 2,Historique,1996,91,NaN,T. Chopra,24.0,43.2,NG,1996-02-29
77972,Troublant Paradoxe du Chaos,Animation,2009,110,6.1,R. Jain,23.9,40.8,PK,2009-12-18
79776,Égaré Vortex,Animation,2021,144,6.4,I. Thomas,61.5,129.7,IE,2021-03-21
93237,Opalin Silo 5,Historique,1981,125,NaN,E. Scott,23.4,46.0,NO,1981-10-18
64011,Invisible Usine des Anges 5,Drame,2025,106,7.2,M. Perez,11.3,29.1,FR,2025-04-05
...,...,...,...,...,...,...,...,...,...,...
24154,Saturé Absolution des Jours,Animation,1992,98,6.9,H. Fernandes,9.7,22.2,IE,1992-01-13
38917,Saturé Tempête,Historique,1989,105,6.5,F. Lima,52.9,137.8,SA,1989-12-27
18322,Rêveur Avalanche du Désert,Horreur,1981,101,8.5,Y. Freitas,37.0,126.7,ID,1981-04-06
23423,Spectral Météore,Horreur,1983,149,6.4,Q. Robinson,NaN,41.4,TH,1983-08-07
15,Saturé Élan du Vide,Romance,2024,86,6.0,I. Traore,5.9,13.7,SE,2024-02-23

# Modification et assignation

In [16]:
# 1 - Créer une nouvelle colonne appelée Rentabilité = BoxOffice / Budget, arrondie à 2 décimales.
df["Rentabilité"] = (df["BoxOffice_M€"] / df["Budget_M€"]).round(2)
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie,Rentabilité
96063,Saturé Prairie,Fantastique,2018,118,6.5,D. Monteiro,2.0,1.6,MY,2018-10-20,0.80
39972,Infini Abîme du Serment,Action,2004,124,6.9,M. Zhou,6.6,11.5,NO,2004-05-16,1.74
82294,Fiévreux Statue de l’Infini 5,Science-Fiction,1997,94,8.6,O. Garcia,21.5,38.3,SG,1997-06-07,1.78
62241,Rocailleux Royaume,Romance,2014,136,7.9,A. Williams,54.2,205.2,FI,2014-07-27,3.79
16841,Éclatant Carrefour des Océans,Science-Fiction,1997,77,7.7,Y. Xu,32.8,46.4,CA,1997-12-16,1.41
...,...,...,...,...,...,...,...,...,...,...,...
56661,Erratique Cimetière,Romance,1988,105,8.8,M. Diop,53.5,152.8,NZ,1988-01-11,2.86
57470,Sidéral Fort du Néant Intérieur 3,Animation,1986,148,7.7,J. Ncube,65.8,12.9,NG,1986-09-20,0.20
4203,Saturé Désir de la Brume,Action,1997,153,7.0,E. Bakshi,39.4,75.4,IE,1997-11-13,1.91
98820,Ébouriffé Récif de l’Horizon,Thriller,1983,143,5.9,F. Sokolov,16.3,25.4,IL,1983-04-07,1.56
41210,Saturé Mémoire des Ombres,Animation,2021,94,6.3,C. Mehra,NaN,17.2,TR,2021-08-15,NaN

In [17]:
# 2 - Ajouter une colonne booléenne “Succès” qui vaut True si la rentabilité est > 2, sinon False.
df["Succès"] = df["Rentabilité"] > 2
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie,Rentabilité,Succès
96063,Saturé Prairie,Fantastique,2018,118,6.5,D. Monteiro,2.0,1.6,MY,2018-10-20,0.80,False
39972,Infini Abîme du Serment,Action,2004,124,6.9,M. Zhou,6.6,11.5,NO,2004-05-16,1.74,False
82294,Fiévreux Statue de l’Infini 5,Science-Fiction,1997,94,8.6,O. Garcia,21.5,38.3,SG,1997-06-07,1.78,False
62241,Rocailleux Royaume,Romance,2014,136,7.9,A. Williams,54.2,205.2,FI,2014-07-27,3.79,True
16841,Éclatant Carrefour des Océans,Science-Fiction,1997,77,7.7,Y. Xu,32.8,46.4,CA,1997-12-16,1.41,False
...,...,...,...,...,...,...,...,...,...,...,...,...
56661,Erratique Cimetière,Romance,1988,105,8.8,M. Diop,53.5,152.8,NZ,1988-01-11,2.86,True
57470,Sidéral Fort du Néant Intérieur 3,Animation,1986,148,7.7,J. Ncube,65.8,12.9,NG,1986-09-20,0.20,False
4203,Saturé Désir de la Brume,Action,1997,153,7.0,E. Bakshi,39.4,75.4,IE,1997-11-13,1.91,False
98820,Ébouriffé Récif de l’Horizon,Thriller,1983,143,5.9,F. Sokolov,16.3,25.4,IL,1983-04-07,1.56,False
41210,Saturé Mémoire des Ombres,Animation,2021,94,6.3,C. Mehra,NaN,17.2,TR,2021-08-15,NaN,False

In [18]:
# 3 - Créez une nouvelle colonne "NoteNorm" correspondant à la note normalisée entre 0 et 1
df.loc[:, "NoteNorm"] = (df["Note"] - df["Note"].min()) / (df["Note"].max() - df["Note"].min())
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie,Rentabilité,Succès,NoteNorm
96063,Saturé Prairie,Fantastique,2018,118,6.5,D. Monteiro,2.0,1.6,MY,2018-10-20,0.80,False,0.547945
39972,Infini Abîme du Serment,Action,2004,124,6.9,M. Zhou,6.6,11.5,NO,2004-05-16,1.74,False,0.602740
82294,Fiévreux Statue de l’Infini 5,Science-Fiction,1997,94,8.6,O. Garcia,21.5,38.3,SG,1997-06-07,1.78,False,0.835616
62241,Rocailleux Royaume,Romance,2014,136,7.9,A. Williams,54.2,205.2,FI,2014-07-27,3.79,True,0.739726
16841,Éclatant Carrefour des Océans,Science-Fiction,1997,77,7.7,Y. Xu,32.8,46.4,CA,1997-12-16,1.41,False,0.712329
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56661,Erratique Cimetière,Romance,1988,105,8.8,M. Diop,53.5,152.8,NZ,1988-01-11,2.86,True,0.863014
57470,Sidéral Fort du Néant Intérieur 3,Animation,1986,148,7.7,J. Ncube,65.8,12.9,NG,1986-09-20,0.20,False,0.712329
4203,Saturé Désir de la Brume,Action,1997,153,7.0,E. Bakshi,39.4,75.4,IE,1997-11-13,1.91,False,0.616438
98820,Ébouriffé Récif de l’Horizon,Thriller,1983,143,5.9,F. Sokolov,16.3,25.4,IL,1983-04-07,1.56,False,0.465753
41210,Saturé Mémoire des Ombres,Animation,2021,94,6.3,C. Mehra,NaN,17.2,TR,2021-08-15,NaN,False,0.520548

In [21]:
#  la rentabilité moyenne de chaque genre pour chaque pays et affichez uniquement les combinaisons ayant plus de 200 films.
stats = df.groupby(['Genre', 'Pays'])['Rentabilité'].agg(['mean', 'count'])

result = stats[stats['count'] > 200]
result

                   mean  count
Genre    Pays
Action   AE    2.045631    206
         AU    1.949020    204
         DK    2.026456    206
         IE    1.992338    201
         MX    2.050000    213
...                 ...    ...
Thriller GR    2.043184    223
         IN    1.938341    205
         NG    2.014554    202
         NZ    2.023398    206
         SA    1.992745    204

[79 rows x 2 columns]

# Gestion des données manquantes

In [19]:
# 1 - Identifier le nombre de valeurs manquantes par colonne.
df.isnull().sum()

Titre              0
Genre              0
Année              0
Durée_min          0
Note            4964
Réalisateur     2920
Budget_M€       4988
BoxOffice_M€       0
Pays               0
DateSortie         0
Rentabilité     4988
Succès             0
NoteNorm        4964
dtype: int64

In [20]:
# 2 - Remplacer les valeurs manquantes de la colonne Note par la moyenne des notes.
df["Note"] = df["Note"].fillna(df["Note"].mean())
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie,Rentabilité,Succès,NoteNorm
22585,Saturé Neige du Vide,Science-Fiction,1994,93,8.100000,A. King,44.9,58.9,NZ,1994-08-16,1.31,False,0.767123
23214,Doux Cauchemar,Science-Fiction,1988,70,7.000437,S. Johnson,17.4,49.3,CA,1988-07-29,2.83,True,NaN
10694,Vibrant Cascade de la Mémoire,Animation,2017,124,6.400000,N. Thompson,72.7,98.6,VN,2017-01-29,1.36,False,0.534247
45082,Éclatant Tombe du Chaos,Romance,1998,100,6.900000,L. Harris,43.5,85.8,IN,1998-05-30,1.97,False,0.602740
51350,Saturé Vaisseau,Thriller,2007,116,5.900000,X. Rocha,2.3,2.8,TR,2007-10-07,1.22,False,0.465753
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4357,Sinueux Pluie d'Étain,Historique,2016,140,7.000000,A. Gandhi,38.7,61.0,SG,2016-01-25,1.58,False,0.616438
9089,Volatile Écurie,Drame,2010,71,9.000000,W. Hall,28.9,41.5,CL,2010-01-15,1.44,False,0.890411
59225,Rugissant Carrière de la Mémoire,Drame,1990,105,8.200000,N. Martins,34.1,118.0,FI,1990-03-22,3.46,True,0.780822
29862,Sinueux Rivière,Fantastique,1988,107,8.000000,B. Okafor,42.6,109.6,AR,1988-04-10,2.57,True,0.753425
67106,Brisé Pays du Rêve 5,Drame,1988,71,8.100000,NaN,25.8,-0.2,UK,1988-08-08,-0.01,False,0.767123

In [21]:
# 3 - Remplacer les valeurs manquantes de la colonne Budget par la médiane du budget.
df["Budget_M€"] = df["Budget_M€"].fillna(df["Budget_M€"].median())
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie,Rentabilité,Succès,NoteNorm
22585,Saturé Neige du Vide,Science-Fiction,1994,93,8.100000,A. King,44.9,58.9,NZ,1994-08-16,1.31,False,0.767123
23214,Doux Cauchemar,Science-Fiction,1988,70,7.000437,S. Johnson,17.4,49.3,CA,1988-07-29,2.83,True,NaN
10694,Vibrant Cascade de la Mémoire,Animation,2017,124,6.400000,N. Thompson,72.7,98.6,VN,2017-01-29,1.36,False,0.534247
45082,Éclatant Tombe du Chaos,Romance,1998,100,6.900000,L. Harris,43.5,85.8,IN,1998-05-30,1.97,False,0.602740
51350,Saturé Vaisseau,Thriller,2007,116,5.900000,X. Rocha,2.3,2.8,TR,2007-10-07,1.22,False,0.465753
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4357,Sinueux Pluie d'Étain,Historique,2016,140,7.000000,A. Gandhi,38.7,61.0,SG,2016-01-25,1.58,False,0.616438
9089,Volatile Écurie,Drame,2010,71,9.000000,W. Hall,28.9,41.5,CL,2010-01-15,1.44,False,0.890411
59225,Rugissant Carrière de la Mémoire,Drame,1990,105,8.200000,N. Martins,34.1,118.0,FI,1990-03-22,3.46,True,0.780822
29862,Sinueux Rivière,Fantastique,1988,107,8.000000,B. Okafor,42.6,109.6,AR,1988-04-10,2.57,True,0.753425
67106,Brisé Pays du Rêve 5,Drame,1988,71,8.100000,NaN,25.8,-0.2,UK,1988-08-08,-0.01,False,0.767123

In [22]:
# 4 - Supprimer les lignes contenant encore des valeurs manquantes (s’il en reste).
df = df.dropna()
df

,Titre,Genre,Année,Durée_min,Note,Réalisateur,Budget_M€,BoxOffice_M€,Pays,DateSortie,Rentabilité,Succès,NoteNorm
22585,Saturé Neige du Vide,Science-Fiction,1994,93,8.1,A. King,44.9,58.9,NZ,1994-08-16,1.31,False,0.767123
10694,Vibrant Cascade de la Mémoire,Animation,2017,124,6.4,N. Thompson,72.7,98.6,VN,2017-01-29,1.36,False,0.534247
45082,Éclatant Tombe du Chaos,Romance,1998,100,6.9,L. Harris,43.5,85.8,IN,1998-05-30,1.97,False,0.602740
51350,Saturé Vaisseau,Thriller,2007,116,5.9,X. Rocha,2.3,2.8,TR,2007-10-07,1.22,False,0.465753
11195,Ébouriffé Ombre de l’Oubli,Thriller,2025,126,6.9,H. Fernandes,43.9,57.0,VE,2025-01-24,1.30,False,0.602740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
91939,Brûlant Forge de la Brume,Science-Fiction,2020,99,6.3,C. Oliveira,68.6,80.4,SA,2020-07-02,1.17,False,0.520548
4357,Sinueux Pluie d'Étain,Historique,2016,140,7.0,A. Gandhi,38.7,61.0,SG,2016-01-25,1.58,False,0.616438
9089,Volatile Écurie,Drame,2010,71,9.0,W. Hall,28.9,41.5,CL,2010-01-15,1.44,False,0.890411
59225,Rugissant Carrière de la Mémoire,Drame,1990,105,8.2,N. Martins,34.1,118.0,FI,1990-03-22,3.46,True,0.780822
29862,Sinueux Rivière,Fantastique,1988,107,8.0,B. Okafor,42.6,109.6,AR,1988-04-10,2.57,True,0.753425

In [23]:
# 5 - Vérifier que le DataFrame ne contient plus de NaN.
df.isnull().sum()

Titre           0
Genre           0
Année           0
Durée_min       0
Note            0
Réalisateur     0
Budget_M€       0
BoxOffice_M€    0
Pays            0
DateSortie      0
Rentabilité     0
Succès          0
NoteNorm        0
dtype: int64

# Agrégation et regroupement

In [22]:
# 1 - Afficher la note moyenne par genre.
df.groupby("Genre")["Note"].mean()

Genre
Action             6.992221
Animation          6.988032
Comédie            6.995586
Drame              7.007703
Fantastique        7.010077
Historique         6.997244
Horreur            6.999843
Romance            7.001317
Science-Fiction    6.999521
Thriller           7.012969
Name: Note, dtype: float64

In [27]:
# 2 - Afficher le budget moyen et le BoxOffice moyen par réalisateur.
# df.groupby("Réalisateur").agg({"Budget_M€": "mean", "BoxOffice_M€": "mean"})
df.groupby('Réalisateur')[['Budget_M€','BoxOffice_M€']].agg(['mean','count'])

             Budget_M€  BoxOffice_M€
Réalisateur
A. Al-Farsi  32.148052     67.061176
A. Cho       28.666667     57.340000
A. Fujita    31.389848     62.905634
A. Gandhi    30.737821     59.747124
A. Kim       33.173913     58.296154
...                ...           ...
Z. Joo       27.800000     48.450000
Z. Jung      27.560000     56.253333
Z. Oliveira  12.150000     29.250000
Z. Vicente   30.535057     62.536612
Z. Yu        32.778827     70.004819

[324 rows x 2 columns]

In [41]:
# 3 - Trouver le film le plus rentable de chaque réalisateur.
df.groupby("Réalisateur")["Rentabilité"].idxmax()

'E. Jones'

In [42]:
# 4- Calculez la rentabilité moyenne (Rentabilite) de chaque genre pour chaque pays. Affichez uniquement les combinaisons ayant plus de 200 films.
rentabilité_moyenne = df.groupby(["Genre", "Pays"])["Rentabilité"].agg(["mean", "count"])
rentabilité_moyenne[rentabilité_moyenne["count"] > 200]

                   mean  count
Genre    Pays
Action   AE    2.045631    206
         AU    1.949020    204
         DK    2.026456    206
         IE    1.992338    201
         MX    2.050000    213
...                 ...    ...
Thriller GR    2.043184    223
         IN    1.938341    205
         NG    2.014554    202
         NZ    2.023398    206
         SA    1.992745    204

[79 rows x 2 columns]

# 3 - Pivot et réorganisation

In [28]:
# 1 - Créer une nouvelle DataFrame dont :
# les lignes sont les Genre,
# les colonnes sont les Années,
# les valeurs sont les notes moyennes.
pivot_df = df.pivot_table(index="Genre", columns="Année", values="Note", aggfunc="mean")
pivot_df

Année,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
Genre,,,,,,,,,,,,,,,,,,,,,
Action,7.070936,7.061792,7.001442,6.987356,7.109545,6.945304,7.003665,6.916129,7.030612,7.043386,...,7.128272,6.966071,6.982008,7.061828,6.958286,7.004787,7.025668,6.953398,7.026087,6.981915
Animation,6.992222,6.947340,6.946486,6.872093,7.020408,6.936500,6.917112,7.069271,7.066111,6.909406,...,7.040000,6.850521,7.028736,6.897546,7.015385,6.992308,7.063388,7.056545,7.031098,7.038650
Comédie,7.125134,6.982979,7.020856,7.112435,6.901878,6.982258,7.098883,7.090909,6.893252,7.081609,...,6.904459,6.984762,7.017972,7.053368,7.049198,7.015421,7.018041,6.976842,6.898585,7.068421
Drame,6.982486,7.000000,6.994089,7.012209,6.938596,6.928643,7.056477,7.135638,6.990052,7.059799,...,7.064615,6.870370,6.969948,6.979290,7.046789,7.066667,6.914211,7.026178,6.859162,7.007767
Fantastique,7.030726,7.040764,6.966667,7.016146,7.020725,7.075369,6.937705,7.029851,6.813021,7.164737,...,7.013918,7.077320,7.070892,7.180311,7.069792,7.007500,6.909231,6.991710,7.064286,7.106897
Historique,6.932203,6.978673,6.992513,7.017318,7.123834,7.106633,7.023204,7.013450,7.026087,7.028042,...,7.007882,7.036869,7.017241,7.083854,7.124855,6.957692,7.037234,6.918023,6.867980,6.896618
Horreur,6.988442,6.979167,6.978846,6.980952,7.059195,7.060199,6.972864,6.936216,7.207650,7.019774,...,7.111236,7.043750,6.941579,6.960476,6.934682,6.928492,6.893011,7.088725,7.051579,6.949171
Romance,7.037674,6.978109,7.112429,7.059259,7.023030,6.990385,7.108374,7.069634,7.054971,6.954950,...,7.120904,7.028358,7.066854,7.050955,6.997170,7.008019,7.060714,7.109341,6.996190,7.038710
Science-Fiction,7.180749,7.002732,6.898974,6.996954,6.919126,6.965868,6.979630,7.123529,6.850838,6.993464,...,7.029756,6.883511,6.961307,6.985222,6.998276,7.238202,7.023958,6.908537,7.006599,7.008511
Thriller,6.899500,7.088304,6.955152,7.017588,7.135602,7.075879,7.122754,6.914286,6.975543,6.902885,...,6.986341,6.946154,7.054023,6.978607,6.950847,6.979581,7.067513,7.072308,6.991667,7.077011

In [29]:
# 2 - Créer une nouvelle DataFrame pour comparer la rentabilité moyenne des genres au fil des années.
pivot_df_rentabilité = df.pivot_table(index="Genre", columns="Année", values="Rentabilité", aggfunc="mean")
pivot_df_rentabilité

Année,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
Genre,,,,,,,,,,,,,,,,,,,,,
Action,2.045172,2.096604,1.948125,1.992586,1.971545,2.030608,1.973455,1.999839,1.934439,2.082646,...,2.147958,1.952500,1.967824,2.062796,1.948171,2.017553,2.004759,2.059029,2.074130,1.966596
Animation,1.990944,2.020053,1.891568,1.948721,2.013622,2.041250,2.023262,1.996510,2.172778,1.995495,...,1.987909,1.918646,2.129310,2.079816,1.903026,2.063333,2.128743,2.058010,2.074268,2.093926
Comédie,2.150053,1.933777,1.938289,1.976477,1.894742,2.060699,1.913017,1.940341,2.041656,1.999540,...,2.051465,1.909143,1.983548,2.138964,2.051230,1.979766,1.974536,2.065684,1.953962,1.993541
Drame,1.941073,1.949010,2.014089,1.851163,1.981345,1.964623,1.970622,1.993830,1.966754,1.976935,...,2.058564,2.047831,1.951192,1.916923,2.006514,2.085124,1.957842,1.969634,1.939162,1.955291
Fantastique,1.978771,2.065350,1.962568,2.093854,1.918860,2.141823,1.970656,2.016119,1.964219,2.021474,...,2.096340,2.046546,2.031972,2.037979,2.076198,1.915500,1.952564,1.952332,2.118988,1.986798
Historique,1.940000,1.965213,1.979358,2.059944,2.025130,2.135153,2.027182,1.989298,1.987633,1.970582,...,1.966404,1.893636,1.949483,2.072708,1.966532,1.823187,2.065691,2.119709,1.982463,1.952319
Horreur,1.958894,1.929524,2.031010,2.070333,2.082586,2.006119,2.082864,2.012486,2.079617,2.051469,...,1.997865,2.027841,2.002947,1.990905,1.942832,2.015698,1.913333,1.988676,2.067316,2.062099
Romance,2.025814,1.998060,2.103898,2.050106,1.979515,1.915673,2.017931,2.066492,1.987368,2.045149,...,2.017684,1.942736,2.009494,2.117325,2.017642,1.976038,1.898776,1.976429,1.978762,2.023441
Science-Fiction,2.086578,2.027268,1.934256,2.007157,1.925355,1.947126,1.928611,2.092620,1.931285,2.036013,...,2.001659,1.996543,1.905176,2.015123,2.005977,2.061854,1.996094,2.092866,1.956701,2.083936
Thriller,1.944200,1.971696,1.962909,2.005126,2.056283,2.011206,2.071078,1.940459,1.910272,1.921731,...,2.001463,2.050000,2.092356,2.054229,2.005706,1.990785,1.913706,1.985641,1.974833,1.951149

# Questions bonus

In [38]:
# 1 - Quels réalisateurs ont réalisé plus de 100 films ?
df['Réalisateur'].value_counts()[df['Réalisateur'].value_counts() > 100]

Titre                            Genre        Année  Durée_min  Note  Réalisateur  Budget_M€  BoxOffice_M€  Pays  DateSortie  Rentabilité  Succès  NoteNorm
Abyssal Absolution               Thriller     1983   125        7.6   I. Novikov   38.7       38.1          AE    1983-10-21  0.98         False   0.698630    1
Sinueux Vignoble                 Animation    1997   94         6.7   U. Bhat      25.0       84.0          EG    1997-11-04  3.36         True    0.575342    1
Sinueux Village des Échos        Drame        1993   76         6.6   X. Wu        14.4       37.0          AT    1993-11-19  2.57         True    0.561644    1
Sinueux Village des Profondeurs  Comédie      2001   109        6.6   H. Baker     32.3       34.6          KR    2001-02-24  1.07         False   0.561644    1
Sinueux Village                  Animation    2022   104        9.0   A. King      45.8       87.4          AT    2022-12-12  1.91         False   0.890411    1
                                                                                                                                                              ..
Mystique Cataclysme 2            Fantastique  2024   117        7.9   I. Dutta     42.2       95.1          TR    2024-01-14  2.25         True    0.739726    1
Mystique Cascade du Silence      Romance      1987   126        6.6   K. White     32.2       79.5          VE    1987-01-21  2.47         True    0.561644    1
Mystique Cascade des Tempêtes    Fantastique  2017   102        7.6   O. Garcia    7.9        15.3          MX    2017-07-11  1.94         False   0.698630    1
Mystique Cascade des Origines 2  Historique   2000   110        6.3   J. Jackson   38.3       57.9          VE    2000-11-14  1.51         False   0.520548    1
Éveillé Île des Origines         Fantastique  2009   142        6.3   K. Carter    37.1       71.5          KE    2009-05-12  1.93         False   0.520548    1
Name: count, Length: 87658, dtype: int64

In [39]:
# 2 - Quel est le genre qui a la rentabilité moyenne la plus élevée ?
df.groupby('Genre')['Rentabilité'].mean().idxmax()

'Horreur'

In [32]:
# 3 - Quelle est la durée moyenne des films de C. Morel ?
df[df['Réalisateur'] == 'L. Roy']["Durée_min"].mean()

np.float64(109.6291718170581)

In [33]:
# 4 - Quels sont les 3 réalisateurs dont les films ont la plus faible variation de note (écart-type minimum) ? Ne pas inclure les réalisateurs avec moins de 3 films.
df.groupby('Réalisateur')["Note"].agg(["count", "mean", "std"]).query("count >= 3").sort_values('std', ascending=True)

             count      mean       std
Réalisateur
Y. Moon          3  6.666667  0.115470
T. Das           3  6.400000  0.173205
Q. Jain          3  7.200000  0.173205
R. Ahmed         4  6.875000  0.221736
K. Park          3  8.400000  0.264575
...            ...       ...       ...
T. Hong          8  6.862500  1.271599
D. Song         12  6.691667  1.276685
U. Gupta         6  6.933333  1.360392
L. Garcia       15  6.900000  1.370610
I. Chen          3  6.733333  1.553491

[276 rows x 3 columns]

In [34]:
# 5 - Quels sont les films qui ont surperformés ? C'est-à-dire les films dont le BoxOffice est supérieur de plus de 50 % à la moyenne des films du même genre ?
box_office_moy_genre = df.groupby("Genre")["BoxOffice_M€"].transform("mean")
df.loc[:, "Ecart_Percent"] = ((df["BoxOffice_M€"] - box_office_moy_genre) / box_office_moy_genre) * 100
df[df["Ecart_Percent"] > 50][["Titre", "Réalisateur", "Ecart_Percent"]].sort_values(by="Ecart_Percent", ascending=False)

/var/folders/1c/mj416zx17qx5xstndms8cwlh0000gn/T/ipykernel_60104/218687763.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, "Ecart_Percent"] = ((df["BoxOffice_M€"] - box_office_moy_genre) / box_office_moy_genre) * 100

                              Titre  Réalisateur  Ecart_Percent
89643             Silencieux Jardin  P. Martinez     553.405451
17729           Saturé Crépuscule 4    Z. Dhawan     515.186319
25984  Éclatant Garage des Origines     W. Anand     510.603867
74315               Sublime Salon 2    V. Walker     503.193153
94846   Ébouriffé Forge de l’Infini    A. Fujita     495.384712
...                             ...          ...            ...
35587    Miraculeux Autel du Désert  Q. Teixeira      50.021188
48497       Solitaires Cœur de Lune    A. Gandhi      50.021188
58738         Solaire Dôme du Temps  D. Monteiro      50.017694
64973            Ébouriffé Flamme 3      S. Sarr      50.017694
70649  Grandiose Sommet de Braise 5     M. Verma      50.017694

[19854 rows x 3 columns]

In [35]:
# 6 - Exportez la DataFrame finale dans un fichier CSV, sans inclure l’index et ; comme séparateur
df.to_csv("films_dataset_cleaned.csv", index=False, sep=';')

In [ ]:
%%sql